/** INDEX **

1. Change the colour of the subreddit name.
2. Edit the subreddit name.
3. Hide the 'Create your own subreddit button'.
4. Hiding the downvote arrows.
5. Replace 'readers' with something else.
6. Replace 'users here now' with something else.
7. Text-only sticky message w/out link.
8. Hide the rank figure (to the left of posts).
9. Notice for non-subscribers at the foot of the page.
10. Change 'MODERATORS' to something else.
11. Change the colour of link titles.
12. Remove fixed width of link flair labels.
13. Add warning text on submit pages.

/*------ Stylesheet -------

The stylesheet location for all subreddits follows the same pattern.

http://www.reddit.com/r/yoursub/about/stylesheet

See here - 

http://www.reddit.com/r/csshelp/wiki/index#wiki_editing_your_subreddit.27s_stylesheet

/*-------- Images ---------

For any snippets that involve images, you must upload those images to your subreddit first.

See here -

http://www.reddit.com/r/csshelp/wiki/index#wiki_uploading_an_image_to_your_subreddit

Following examples will refer to an assumed image name of 'your-image' 

/*------- Snippets --------

/** 1. **/

/* For the name in the header */
.pagename a {
	color: #f00;
}

/* For the name in the sidebar */
.side .redditname a {
	color: #f00;
}

/** 2. **/

/* Prepend /r/ to both instances of the subreddit name */
.redditname a:before {
	content: '/r/';
}

/* Hide the subreddit name and insert 'SomethingElse' */
.redditname a {
	font-size: 0;
	content: '';
}
.redditname a:after {
	font-size: large;
	content: 'SomethingElse';
}
.side .redditname a:after {
	font-size: 19px;
}

/** 3. **/

.side .create {
	display: none;
}

/** 4. **/

/* Hide the downvote arrows on links */
.link .down {
	display: none;
}

/* Hide the downvote arrows on comments */
.comment .down {
	display: none;
}

/** 5. **/

.subscribers .word {
	display: none;
}
.subscribers .number:after {
	content: ' something else';
}

/** 6. **/

.users-online .word {
	display: none;
}
.users-online .number:after {
	content: ' something else';
}

/** 7. **/

body > .content:before {
	content: 'This is the sticky message';
	display: inline-block;
	margin: 0 0 10px 20px;
	padding: 6px 8px;
	background: #cee3f8;
	font-weight: bold;
}

/** 8. **/

.rank { display: none; }

/** 9. **/

.loggedin:not(.subscriber) .side .active:after {
	content: 'Hey you! Click here to subscribe.';
	position: fixed;
	background: #cee3f8;
	border-top: 1px solid;
	color: #000;
	font-weight: bold;
	font-size: 1.2em;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

/** 10. **/

.side .helplink + .title h1 {
	font-size: 0;
	content: '';
}
.side .helplink + .title h1:before {
	font-size: medium;
	content: 'SOMETHING ELSE';
}

/** 11. **/

/* Unvisted links */
#siteTable a.title:link { color: #00f; }
/* Visted links */
#siteTable a.title:visited { color: #369; }
/* Hovered links */
#siteTable a.title:hover { color: #360; }
/* Active links */
#siteTable a.title:active { color: #f00; }

/** 12. **/

.linkflairlabel { max-width: none; }

/** 13. **/

/* Add text before the 'title' field (link and text posts) */
.submit-page #title-field:before {
	content: 'Some warning or other';
	display: block;
	margin: 6px 0;
	color: #f00;
}

/* Add text before the 'url' field (link posts) */
.submit-page #url-field:before {
	content: 'Some warning or other';
	display: block;
	margin: 6px 0;
	color: #f00;
}

/* Add text before the 'title' field (text posts) */
.submit-page #text-field:before {
	content: 'Some warning or other';
	display: block;
	margin: 6px 0;
	color: #f00;
}
