/** INDEX **

01. Change the colour of the subreddit name.
02. Edit the subreddit name.
03. Hide the 'Create your own subreddit' button and description.
04. Hiding the downvote arrows.
05. Replace 'readers' with something else.
06. Replace 'users here now' with something else.
07. Text-only sticky message w/out link.
08. Hide the rank figure (to the left of posts).
09. Notice for non-subscribers at the foot of the page.
10. Change 'MODERATORS' to something else.
11. Change the colour of link titles.
12. Remove fixed width of link flair labels.
13. Add warning text on submit pages.
14. Move submit buttons to the top of the sidebar, adjacent to one another.
15. Alternating background colours for links.
16. Change the colour of link titles, based on the source website.
17. Insert an image before link titles, based on the source website.
18. Alternating background colours of comment tiers.
19. Warning popup on downvote arrow.
20. Display the last-edited timestamp after the post date.
21. Change the NSFW tag to 'SPOILER'.
22. Expose the URL of links in comments.
23. Hover popup on the report button.
24. Change text post/default thumbnail.
25. Alternating link/comment background colours.
26. Hide 'created by ...'.

/*------ Stylesheet -------

The stylesheet location for all subreddits follows the same pattern.

http://www.reddit.com/r/yoursub/about/stylesheet

See here - 

http://www.reddit.com/r/csshelp/wiki/index#wiki_editing_your_subreddit.27s_stylesheet

/*-------- Images ---------

For any snippets that involve images, you must upload those images to your subreddit first.

See here -

http://www.reddit.com/r/csshelp/wiki/index#wiki_uploading_an_image_to_your_subreddit

Following examples will refer to an assumed image name of 'your-image'

/*------- Sidebar ---------

Some snippets require content to be added to the sidebar. The sidebar contents can be
edited from the 'subreddit settings' link in the sidebar, leading to the page here

http://www.reddit.com/r/yoursub/about/edit

Additions are made to the 'sidebar' field specifically. 

/*------- Snippets --------

/*-- 1 --*/

/* For the name in the header */
.pagename a {
	color: #f00;
}

/* For the name in the sidebar */
.side .redditname a {
	color: #f00;
}

/*-- 2 --*/

/* Prepend /r/ to both instances of the subreddit name */
.redditname a:before {
	content: '/r/';
}

/* Hide the subreddit name and insert 'SomethingElse' */
.redditname a {
	font-size: 0;
	content: '';
}
.redditname a:after {
	font-size: large;
	content: 'SomethingElse';
}
.side .redditname a:after {
	font-size: 19px;
}

/*-- 3 --*/

.create {
	display: none;
}

/*-- 4 --*/

/* Hide the downvote arrows on links */
.link .down {
	display: none;
}

/* Hide the downvote arrows on comments */
.comment .down {
	display: none;
}

/*-- 5 --*/

.subscribers .word {
	display: none;
}
.subscribers .number:after {
	content: ' something else';
}

/*-- 6 --*/

.users-online .word {
	display: none;
}
.users-online .number:after {
	content: ' something else';
}

/*-- 7 --*/

body > .content:before {
	content: 'This is the sticky message';
	display: inline-block;
	margin: 0 0 10px 20px;
	padding: 6px 8px;
	background: #cee3f8;
	font-weight: bold;
}

/*-- 8 --*/

.rank {
	display: none;
}

/*-- 9 --*/

.loggedin:not(.subscriber) .side .active:after {
	content: 'Hey you! Click here to subscribe.';
	position: fixed;
	background: #cee3f8;
	border-top: 1px solid;
	color: #000;
	font-weight: bold;
	font-size: 1.2em;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

/*-- 10 --*/

.side .helplink + .title h1 {
	font-size: 0;
	content: '';
}
.side .helplink + .title h1:before {
	font-size: medium;
	content: 'SOMETHING ELSE';
}

/*-- 11 --*/

/* Unvisited links */
#siteTable a.title {
	color: #00f;
}
/* Visited links */
#siteTable a.title:visited {
	color: #369;
}
/* Hovered links */
#siteTable a.title:hover {
	color: #360;
}
/* Active links */
#siteTable a.title:active {
	color: #f00;
}
/* Sticky links */
#siteTable .stickied a.title {
	color: #282;
}

/*-- 12 --*/

.linkflairlabel {
	max-width: none;
}

/*-- 13 --*/

/* Add text before the 'title' field (link and text posts) */
.submit-page #title-field:before {
	content: 'Some warning or other';
	display: block;
	margin: 6px 0;
	color: #f00;
}

/* Add text before the 'url' field (link posts) */
.submit-page #url-field:before {
	content: 'Some warning or other';
	display: block;
	margin: 6px 0;
	color: #f00;
}

/* Add text before the 'title' field (text posts) */
.submit-page #text-field:before {
	content: 'Some warning or other';
	display: block;
	margin: 6px 0;
	color: #f00;
}

/*-- 14 --*/

.side { 
	margin: 40px 5px 0;
}
.sidebox.submit {
	position: absolute;
	width: 148px;
	overflow: hidden;
	top: 72px;
}
.side .submit-text {
	right: 5px;
}
.side .submit a {
	font-size: small;
}
.side .submit .nub {
	display: none;
}

/*-- 15 --*/

/* Background colour of odd-numbered links */
.listing-page .odd {
	background: #f0f3fc;
}

/* Background colour of even-numbered links */
.listing-page .even {
	background: #fffdae;
}

/*-- 16 --*/

/* Change the colour of link titles from the `imgur.com` domain */
#siteTable a.title[href*="imgur.com/"] {
	color: #ff0;
}

/*-- 17 --*/

/* Insert an image before link titles from the `bbc.co.uk` domain
   An image height of 14-16px would be standard */
.link a.title[href*="bbc.co.uk/"]:before {
	content: url(%%your-image%%);
	vertical-align: middle;
}

/*-- 18 --*/

.commentarea .comment { background-color: #e0eeee; }
.commentarea .comment .comment { background-color: #f8f8ff; }
.commentarea .comment .comment .comment { background-color:#e0eeee; }
.commentarea .comment .comment .comment .comment { background-color: #f8f8ff; }
.commentarea .comment .comment .comment .comment .comment { background-color: #e0eeee; }
.commentarea .comment .comment .comment .comment .comment .comment { background-color: #f8f8ff; }
.commentarea .comment .comment .comment .comment .comment .comment .comment { background-color: #e0eeee; }
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #f8f8ff; }
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #e0eeee; }
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment{ background-color: #f8f8ff; }

/*-- 19 --*/

/* On links only */
.link .down:hover:before {
	content: 'Something something something about link downvoting';
	position: absolute;
	z-index: 99;
	margin: -3em 0 0 2em;
	padding: .3em;
	border: .1em dashed;
	background: orangered;
	font-size: x-small;
	font-weight: bold;
	width: 20em;
	text-align: center;
}

/* On comments only */
.comment .down:hover:before {
	content: 'Something something something about comment downvoting';
	position: absolute;
	z-index: 99;
	margin: -3em 0 0 2em;
	padding: .3em;
	border: .1em dashed;
	background: orangered;
	font-size: x-small;
	font-weight: bold;
	width: 20em;
	text-align: center;
}

/* On both */
.thing .down:hover:before {
	content: 'Something something something about downvoting';
	position: absolute;
	z-index: 99;
	margin: -3em 0 0 2em;
	padding: .3em;
	border: .1em dashed;
	background: orangered;
	font-size: x-small;
	font-weight: bold;
	width: 20em;
	text-align: center;
}

/*-- 20 --*/

.edited-timestamp[title]:after {
	content: " (" attr(title) ")";
	font-size: 90%;
}

/*-- 21 --*/

.nsfw-stamp acronym {
	display: none;
}
.nsfw-stamp:after  {
	content: 'SPOILER';
	color: #AC3939;
	font-size: x-small;
	padding: 0 2px;
	border: 1px solid #D27979;
	border-radius: 3px;
}

/*-- 22 --*/

/* For regular/non-RES users */
.comment .md a:after {
    content: ' [' attr(href) ']';
    color: #f00;
}

/* Exempt tags/vote weight/image expandos from having the link appended */
.comment .md .userTagLink:after,
.comment .md .voteWeight:after,
.comment .md .userTagged:after,
.comment .md .image:after {
	content: normal;
}

/*-- 23 --*/

/* On links only */
.link .report-button .option:not(.error):hover:before {
    content: 'Something something something about reporting';
    position: absolute;
    z-index: 99;
    margin: -3.5em 0 0 2em;
    padding: .3em;
    border: .1em dashed;
    background: orangered;
    font-size: x-small;
    font-weight: bold;
    width: 20em;
    text-align: center;
    white-space: normal;
}

/* On comments only */
.comment .report-button .option:not(.error):hover:before {
    content: 'Something something something about reporting';
    position: absolute;
    z-index: 99;
    margin: -3.5em 0 0 2em;
    padding: .3em;
    border: .1em dashed;
    background: orangered;
    font-size: x-small;
    font-weight: bold;
    width: 20em;
    text-align: center;
    white-space: normal;
}

/* On both */
.thing .report-button .option:not(.error):hover:before {
    content: 'Something something something about reporting';
    position: absolute;
    z-index: 99;
    margin: -3.5em 0 0 2em;
    padding: .3em;
    border: .1em dashed;
    background: orangered;
    font-size: x-small;
    font-weight: bold;
    width: 20em;
    text-align: center;
    white-space: normal;
}

/*-- 24 --*/

/* Change self post thumbnail */
.self .self {
	background-image: url(%%your-image%%);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 70px; /* Change dimensions to suit */
	height: 50px; /* Change dimensions to suit */
}

/* Change default snoo thumbnail */
.link .default {
	background-image: url(%%your-image%%);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 70px; /* Change dimensions to suit */
	height: 50px; /* Change dimensions to suit */
}

/*-- 25 --*/

/* On even link posts */
.linklisting .link.even {
	background: #eee;
}

/* On odd link posts */
.linklisting .link.odd {
	background: #ddd;
}

/* On even comments */
.linklisting .comment.even {
	background: #eee;
}

/* On odd comments */
.linklisting .comment.odd {
	background: #ddd;
}

/*-- 26 --*/

.titlebox .bottom {
	font-size: 0;
	visibility: hidden;
}
.bottom .age {
	font-size: small;
	visibility: visible;
}
.titlebox .usertext {
	border-bottom: 1px solid;
}
